
@media (max-width: 950px) {
    /* ---- Projects ---- */
  .Projects .project-container {
    width: 290px;
  }
}

@media (max-width: 800px) {
  header {
    padding: 1.5rem 3rem;
  }
  header nav .desktop-menu ul{
    gap: 1.5rem;
  }
  /* ---- HERO ---- */
  main .hero-section {
    flex-direction: column;
    margin: 2.5rem 2rem;
    gap: 20px;
  }
  /* ---- Education/Experience ---- */
  main .title-separator {
    margin: 1.5rem;

  }
  main .info-section {
    flex-direction: column;
    margin: 2.5rem 2rem;
    gap: 0px;
  }
  main .info-section .tamu {
    padding: 0;
  }
    /* ---- Projects ---- */
  .Projects .project-container {
    width: 350px;
  }
}

@media (max-width: 575px) {
  header {
    padding: 1.5rem 1.5rem;
  }
  header nav .desktop-menu ul{
    gap: 1rem;
  }
  /* ---- HERO ---- */
  main .hero-section {
    margin: 1.5rem 1.5rem;
  }
  /* ----Education/Experience ---- */
  main .info-section {
    margin: 1.5rem 1.5rem;
  }
}