:root {
  --text-color: #ffffff;
  --link-color: #ffffff;
  --background-color: #000000;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Tomorrow", sans-serif;
  font-weight: 500;
  color: var(--text-color);
  background-color: var(--background-color);
}

a{
  color: var(--link-color);
  text-decoration: none;
}

header, main {
  max-width: 1440px;
  min-width: 400px;
  margin: 0 auto;
}
footer {
  min-width: 350px;
}