.main-content {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
    /*styling for the bar itself*/
  scrollbar-width: thin;
  scrollbar-color: #555 #333; 
}

.rectangular-section-title-container {
  height: 50px;
  align-items: center;
  justify-content: center;

  display: flex;
  flex-direction:  row;
  background: rgba(30, 110, 116, 0.089); 
  flex: 0 0 auto;
}
.separator {
  background: rgba(255, 255, 255, 0.545);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  height: 10px;
  flex: 1;
}
.separator-title { 
  padding: 0 20px 0 20px;
}

.rectangular-section {
  height: 400px;

  display: flex;
  flex-direction:  row;
  background: rgba(30, 110, 116, 0.089); 
  flex: 0 0 auto;
}

.left-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px 0 60px;
  width: 200px;
}

.right-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: top;
  padding: 50px 0 0 50px;
}
.right-bottom-container {
  padding-top: 20px;
}

.tamu {
  height: 215px;
  
}

.headshot {
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  height: 215px;
}

.vps {
  height: 150px;
}