
@media (max-width: 950px) {
    /* ---- Projects ---- */
  .Projects .project-container {
    width: 290px;
  }
}

@media (max-width: 800px) {
  header {
    padding: 1.5rem 3rem;
  }
  header nav .desktop-menu ul{
    gap: 1.5rem;
  }
  /* ---- HERO ---- */
  main .hero-section {
    flex-direction: column;
    margin: 2.5rem 2rem;
    gap: 20px;
  }
  /* ---- Education/Experience ---- */
  main .title-separator {
    margin: 1.5rem;

  }
  main .info-section {
    flex-direction: column;
    margin: 2.5rem 2rem;
    gap: 0px;
  }
  main .info-section .tamu {
    padding: 0;
  }
    /* ---- Projects ---- */
  .Projects .project-container {
    width: 350px;
  }
}

@media (max-width: 575px) {
  header {
    padding: 1.5rem 1.5rem;
  }
  header nav .desktop-menu ul{
    gap: 1rem;
  }
  /* ---- HERO ---- */
  main .hero-section {
    margin: 1.5rem 1.5rem;
  }
  /* ----Education/Experience ---- */
  main .info-section {
    margin: 1.5rem 1.5rem;
  }
}

@media (max-width: 500px) {
  header nav .desktop-menu {
    display: none;
  }
  header nav .mobile-menu {
    display: flex;

  }
}
/* EXTRA */

@media (hover: hover) { /* Hovering effects only for devices that support hover */
  header nav .desktop-menu ul li a:hover {
    text-decoration-line: underline;
    text-underline-offset: 4px; 
    text-decoration-thickness: 1px;
    color: rgb(197, 118, 240);
    transform: scale(1.2);
  }
  header nav .mobile-menu .menu-toggle:hover {
    color: rgb(197, 118, 240);
    transform: scale(1.1);
  } 
  header nav .mobile-menu ul li:hover{
    border-radius: 5px;
    background-color: rgba(37, 36, 36, 0.571);
  }
}